* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  padding: 1rem 0;
  color: rgb(255, 0, 85);
}

hr {
  margin: 1rem 0;
}

#input-div-cont {
  display: flex;
  justify-content: center;
}

#input-div {
  background-color: white;
  border-radius: 999px;
  width: 50%;
  max-width: 600px;
  min-width: 200px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#input-div i {
  color: rgb(255, 0, 85);
}

#input-div input {
  border: 0;
  outline: 0;
  flex: 1;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  justify-content: flex-start;
}

.meal {
  /* background-color: white; */
  border: 2px solid rgb(255, 0, 85);
  border-radius: 20px;
  width: 430px;
  overflow: hidden;
}

.meal img {
  width: 100%;
}

.meal-details {
  padding: 0.75rem 1rem;
}

.meal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal-title i {
  cursor: pointer;
}

.meal-area {
  padding: 0.75rem 0;
}

.meal span {
  color: rgb(255, 0, 85);
  text-decoration: underline;
  cursor: pointer;
}

#home-btn,
#favs-btn {
  border: 2px solid rgb(255, 0, 85);
  border-radius: 999px;
  padding: 1rem;
  background-color: black;
  color: rgb(255, 0, 85);
  font-size: 1.25rem;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: all 500ms;
}

#home-btn:hover,
#favs-btn:hover {
  background-color: rgb(255, 0, 85);
  color: white;
}

.remove-meal {
  border: 2px solid rgb(255, 0, 85);
  border-radius: 999px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: rgb(255, 0, 85);
  margin: 1rem 0;
  width: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}
